<div id="admincenter">
{{#context.is_new_install}}
	<h2 id="section_header" class="category_header">{{txt.core_settings_welcome_msg}}</h2>
	<div class="information">{{txt.core_settings_welcome_msg_desc}}</div>
{{/context.is_new_install}}
	<form id="core_features" action="{{scripturl}}?action=admin;area=corefeatures" method="post" accept-charset="UTF-8">
		<div id="activation_message" class="errorbox hide"></div>
		
		{{#features}}
		<div class="features">
			<img class="features_image" src="{{image}}" alt="{{title}}">
			<div class="features_switch" id="js_feature_{{id}}">
				<label class="core_features_hide" for="feature_{{id}}">{{txt.core_settings_enabled}}<input class="core_features_status_box" type="checkbox" name="feature_{{id}}" id="feature_{{id}}" {{enabled}} /></label>
				<img id="switch_{{id}}" class="core_features_img {{state}} hide" src="{{settings.images_url}}/admin/switch_{{state}}.png" alt="{{state}}">
			</div>
			<h3 id="feature_link_{{id}}">{{#enabled}}<a href="{{url}}">{{title}}</a>{{/enabled}}{{^enabled}}{{title}}{{/enabled}}</h3>			
			<p>{{desc}}</p>
			<hr>
		</div>
		{{/features}}
		
		<div class="righttext">
			<input id="core_features_session" type="hidden" name="{{context.session_var}}" value="{{context.session_id}}" />
			<input id="core_features_token" type="hidden" name="{{context.admin-core_token_var}}" value="{{context.admin-core_token}}" />
			<input id="core_features_submit" type="submit" value="{{txt.save}}" name="save" class="right_submit" />
		</div>
	</form>
</div>
